<div class="achievements">
    <h2 class="achievements__title bigger content-fadein">
        <span class="smaller">Наши</span>
        Достижения
    </h2><!-- /achievements__title -->
    <div class="achievements__body content-fadein">
        <div class="achievements__symbol-container">
            <svg class="achievements__symbol achievements__symbol_shadow">
                <use xlink:href="#omg-media-svg-grow-arrow-shadow">
            </svg>
            <svg class="achievements__symbol achievements__symbol_origin">
                <use xlink:href="#omg-media-svg-grow-arrow">
            </svg>
        </div><!-- /achievements__symbol -->
        <ul class="achievements__list">
            <li class="achievements__list-item">
                <span class="achievements__list-text">
                    Увеличили ROI на
                </span>
                <div class="achievements__list-item-data">
                    43%
                </div>
            </li><!-- /achievements__list-item -->

            <li class="achievements__list-item">
                <span class="achievements__list-text">
                    Увеличили продажи
                </span>
                <div class="achievements__list-item-data">
                    110%
                </div>
            </li><!-- /achievements__list-item -->

            <li class="achievements__list-item">
                <span class="achievements__list-text">
                    Проанализровали кампаний
                </span>
                <div class="achievements__list-item-data">
                    500+
                </div>
            </li><!-- /achievements__list-item -->

            <li class="achievements__list-item">
                <span class="achievements__list-text">
                    Внедрили сквозную аналитику
                </span>
                <div class="achievements__list-item-data">
                    37
                    <span class="subdata">
                        клиентам
                    </span>
                </div>
            </li><!-- /achievements__list-item -->
        </ul><!-- /achievements__list -->
        <div class="achievements__footnote">
            в среднем по всем клиентам агентства
        </div>
    </div><!-- /achievements__body -->
</div><!-- /achievements -->