<div class="advantages">
    <div class="advantages__title-box">
        <h2 class="advantages__title bigger">
            <span class="smaller">Реклама</span>
            Не окупается?
        </h2>
        <h3 class="advantages__subtitle">
            Мы предлагаем:
        </h3>
    </div>
    <ul class="advantages__list">
        <li class="advantages__list-item">
            <span class="half-number">01</span>
            <h5 class="advantages__list-item-title">
                Экспертный аудит рекламных кампаний
            </h5>
            <p class="advantages__list-item-desc">
                Делаем профессиональный анализ
                контекстной рекламы по 76 пунктам
            </p>
        </li>

        <li class="advantages__list-item">
            <span class="half-number">02</span>
            <h5 class="advantages__list-item-title">
                Разработка маркетинговой стратегии
            </h5>
            <p class="advantages__list-item-desc">
                Определяем максимальные KPI и
                разрабатываем план для их гарантированного достижения
            </p>
        </li>

        <li class="advantages__list-item">
            <span class="half-number">03</span>
            <h5 class="advantages__list-item-title">
                Создание рекламных кампаний
            </h5>
            <p class="advantages__list-item-desc">
                Используем весь фукнционал рекламных
                систем + инструменты бета-тестов Яндекса и Google
            </p>
        </li>

        <li class="advantages__list-item">
            <span class="half-number">04</span>
            <h5 class="advantages__list-item-title">
                Настройка систем аналитики
            </h5>
            <p class="advantages__list-item-desc">
                Выполняем глубокую настройку веб-аналитики
                с детальным анализом по каждому источнику трафика
            </p>
        </li>

        <li class="advantages__list-item">
            <span class="half-number">05</span>
            <h5 class="advantages__list-item-title">
                Оптимизация рекламных кампаний
            </h5>
            <p class="advantages__list-item-desc">
                Снижаем расходы на контекстную рекламу,
                увеличиваем количество конверсий.
            </p>
        </li>
    </ul><!-- /advantages__title -->
</div><!-- /advantages -->