<div class="authorization" style="max-width: 720px; margin-bottom: 40px;">
    <div class="authorization__inner">
        <span class="authorization__close">
            <svg class="authorization__close-icon">
                <use xlink:href="#omg-media-svg-close-icon" />
            </svg>
        </span>

        <h4 class="authorization__title">
            Авторизоваться
        </h4>

        <div class="basic-form authorization__basic-form">
            <div class="basic-form__row-inputs">
                <button class="button button_vk basic-form__button">
                    ВКонтакте
                </button>
                <button class="button button_facebook basic-form__button">
                    Facebook
                </button>
                <button class="button button_instagram basic-form__button">
                    Instagram
                </button>
                <button class="button button_yandex basic-form__button">
                    Yandex
                </button>
            </div>
            <div class="basic-form__input-confirm">
                <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" checked="checked">
                    <span class="checkbox__label">
                        Согласие на обработку персональных данных
                    </span>
                </label>
            </div><!-- /basic-form__input-confirm -->
        </div><!-- /basic-form -->
    </div><!-- /authorization__inner -->
</div><!-- /authorization -->