<div class="basic-form">
    <div class="basic-form__row-inputs">
        <div class="basic-form__input-box">
            <input class="basic-form__input basic-form__input_text" type="text" placeholder="Адрес сайта">
        </div><!-- basic-form__input-box -->

        <div class="basic-form__input-box">
            <input class="basic-form__input basic-form__input_text js-phone-mask" type="text" placeholder="Номер телефона">
        </div><!-- basic-form__input-box -->

        <button class="button basic-form__button">
            Отправить заявку
        </button>
    </div><!-- /basic-form__row-inputs -->

    <div class="basic-form__input-confirm">
        <label class="checkbox">
            <input class="checkbox__input" type="checkbox" checked="checked">
            <span class="checkbox__label">
                Согласие на обработку персональных данных
            </span>
        </label>
    </div><!-- /basic-form__input-confirm -->
</div><!-- /basic-form -->