<div class="blog-briefs">
    <h2 class="blog-briefs__title bigger">
        <span class="smaller">Пишем блог</span>
        О рекламе
    </h2><!-- /blog-briefs__title -->
    <div class="blog-briefs__content">
        <div class="blog-briefs__post-view">
            <h4 class="blog-briefs__post-title">
                Функциональный креатив в рекламе: как привлечь море клиентов
            </h4>
            <div class="blog-briefs__post-desc">
                Зацепить потребителей и довести их до покупки становится всё сложн…
            </div>
            <a href="article.html" class="blog-briefs__post-read">
                Читать 7 минут
            </a>
        </div><!-- /blog-briefs__post-view -->
        <ul class="blog-briefs__post-list">
            <li class="blog-briefs__post">
                <h4 class="blog-briefs__post-title">
                    Синдром Сноудена: как много о вас знают рекламщики?
                </h4>
                <a href="article.html" class="blog-briefs__post-read">
                    Читать 2 минуты
                </a>
            </li><!-- /blog-briefs__post -->

            <li class="blog-briefs__post">
                <h4 class="blog-briefs__post-title">
                    Преступления и наказания: всё о санкциях Google
                </h4>
                <a href="article.html" class="blog-briefs__post-read">
                    Читать 2 минуты
                </a>
            </li><!-- /blog-briefs__post -->

            <li class="blog-briefs__post">
                <h4 class="blog-briefs__post-title">
                    Бери и делай: 10 готовых идей контента для Facebook
                </h4>
                <a href="article.html" class="blog-briefs__post-read">
                    Читать 2 минуты
                </a>
            </li><!-- /blog-briefs__post -->

            <li class="blog-briefs__post">
                <h4 class="blog-briefs__post-title">
                    Эволюция дизайна в SMM: от истоков к трендам 2019
                </h4>
                <a href="article.html" class="blog-briefs__post-read">
                    Читать 2 минуты
                </a>
            </li><!-- /blog-briefs__post -->
        </ul><!-- /blog-briefs__post-list -->
    </div><!-- /blog-briefs__content -->
</div><!-- /blog-briefs -->