<div class="blog-card blog-card_large">
    <a href="#" class="blog-card__linked-box">
        <div class="blog-card__inner">
            <div class="image-wrapper blog-card__image-wrapper">
                <div class="image">
                    <img src="images/temp/blog-pic-1.png" alt="">
                </div>
            </div><!-- /blog-card__image -->
            <div class="blog-card__content">
                <div class="metainfo blog-card__metainfo">
                    <div class="metainfo__item metainfo__date">
                        <span>
                            10 марта 2019
                        </span>
                    </div><!-- /metainfo__date -->

                    <div class="metainfo__item metainfo__views">
                        <svg class="metainfo__icon metainfo__icon_views">
                            <use xlink:href="#omg-media-svg-eye">
                        </svg>
                        <span>
                            52
                        </span>
                    </div><!-- /metainfo__views -->

                    <div class="metainfo__item metainfo__comments">
                        <svg class="metainfo__icon metainfo__icon_comments">
                            <use xlink:href="#omg-media-svg-baseline-chat">
                        </svg>
                        <span>
                            23
                        </span>
                    </div><!-- /metainfo__comments -->
                </div><!-- /metainfo -->
                <h4 class="blog-card__title">
                    Успеть за 8 часов: как совместить работу, учёбу
                    и не сойти с ума
                </h4><!-- /blog-card__title -->
                <span class="blog-card__author">
                    Александр Деканов
                </span><!-- /blog-card__title -->
                <span class="blog-card__read">
                    Читать 7 минут
                </span><!-- /blog-card__title -->
            </div><!-- /blog-card__content -->
        </div><!-- /blog-card__inner -->
    </a><!-- /blog-card__linked-box -->
</div><!-- /blog-card -->