<div class="cases-section js-cases-section" data-text="вкейсах">
    <h2 class="cases-section__title bigger content-fadein">
        <div class="cases-section__title-span">Результаты</div>
        В кейсах
    </h2>

    <div class="swiper-container js-cases-swiper">
      <div class="cases-section__carousel swiper-wrapper content-fadein">
          <div class="cases-section__carousel-item swiper-slide">
              <div class="cases-section__video video-play">
                  <a data-fancybox
                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                    <img src="images/Rectangle 4.1.png" alt="">
                  </a>
                  <div class="cases-section__mobile-text">
                      <h3 class="cases-section__mobile-text__subtitle">
                          Интернет-магазин одежды
                      </h3>
                  </div>
                  <!-- <span class="button button_play"></span> -->
              </div><!-- cases-section__video -->

              <div class="cases-section__content">
                  <div class="cases-section__text">
                      <h3 class="cases-section__subtitle">
                          Интернет-магазин одежды
                      </h3>

                      <div class="cases-section__description">
                          До обращения к нам, клиент не мог
                          увеличить количество заявок в день
                          больше 8. После трех месяцев настройки
                          нами рекламных кампаний, мы смогли
                          увеличить количество заявок до 25 в день
                          и снизить стоимость заявки с 500 руб. до 200 руб.
                      </div>
                  </div>

                  <div class="cases-section__price-container">
                      <div class="cases-section__price-box cases-section__price-box_click-price">
                          <h6 class="cases-section__price-headline">
                              Цена клика
                          </h6>
                          <span class="cases-section__price">
                              2,1 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              5,3 ₽
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_request-price">
                          <h6 class="cases-section__price-headline">
                              Цена заявки
                          </h6>
                          <span class="cases-section__price">
                              200 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              500 ₽
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_requests-count">
                          <h6 class="cases-section__price-headline">
                              Заявок
                          </h6>
                          <span class="cases-section__price">
                              600
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              400
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_monthly-budget">
                          <h6 class="cases-section__price-headline">
                              Бюджет на месяц
                          </h6>
                          <span class="cases-section__price">
                              720 000 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              800 000 ₽
                          </span>
                      </div><!-- /cases-section__price-box -->
                  </div><!-- /cases-section__price-container -->
              </div><!-- /cases-section__content -->
          </div><!-- /cases-section__carousel-item -->

          <div class="cases-section__carousel-item swiper-slide">
              <div class="cases-section__video video-play">
                  <a data-fancybox
                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                    <img src="images/Rectangle 4.2.png" alt="">
                  </a>
                  <div class="cases-section__mobile-text">
                      <h3 class="cases-section__mobile-text__subtitle">
                          Салон красоты
                      </h3>
                  </div>
                  <!-- <span class="button button_play"></span> -->
              </div><!-- cases-section__video -->

              <div class="cases-section__content">
                  <div class="cases-section__text">
                      <h3 class="cases-section__subtitle">
                          Салон красоты
                      </h3>

                      <div class="cases-section__description">
                         После трех месяцев настройки
                         нами рекламных кампаний. До обращения к нам, клиент не мог
                         увеличить количество заявок в день
                         больше 8. 
                      </div>
                  </div>

                  <div class="cases-section__price-container">
                      <div class="cases-section__price-box cases-section__price-box_click-price">
                          <h6 class="cases-section__price-headline">
                              Цена клика
                          </h6>
                          <span class="cases-section__price">
                              2,2 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              5,8 ₽
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_request-price">
                          <h6 class="cases-section__price-headline">
                              Цена заявки
                          </h6>
                          <span class="cases-section__price">
                              800 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              900 ₽
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_requests-count">
                          <h6 class="cases-section__price-headline">
                              Заявок
                          </h6>
                          <span class="cases-section__price">
                              700
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              620
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_monthly-budget">
                          <h6 class="cases-section__price-headline">
                              Бюджет на месяц
                          </h6>
                          <span class="cases-section__price">
                              710 000 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              980 000 ₽
                          </span>
                      </div><!-- /cases-section__price-box -->
                  </div><!-- /cases-section__price-container -->
              </div><!-- /cases-section__content -->
          </div><!-- /cases-section__carousel-item -->

          <div class="cases-section__carousel-item swiper-slide">
              <div class="cases-section__video video-play">
                  <a data-fancybox
                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                    <img src="images/Rectangle 4.3.png" alt="">
                  </a>
                  <div class="cases-section__mobile-text">
                      <h3 class="cases-section__mobile-text__subtitle">
                          Школа танцев
                      </h3>
                  </div>
                  <!-- <span class="button button_play"></span> -->
              </div><!-- cases-section__video -->

              <div class="cases-section__content">
                  <div class="cases-section__text">
                      <h3 class="cases-section__subtitle">
                          Школа танцев
                      </h3>

                      <div class="cases-section__description">
                          До обращения к нам, клиент не мог
                          увеличить количество заявок в день
                          больше 8. После трех месяцев настройки
                          нами рекламных кампаний, мы смогли
                          увеличить количество заявок до 25 в день
                          и снизить стоимость заявки с 500 руб. до 200 руб.
                      </div>
                  </div>

                  <div class="cases-section__price-container">
                      <div class="cases-section__price-box cases-section__price-box_click-price">
                          <h6 class="cases-section__price-headline">
                              Цена клика
                          </h6>
                          <span class="cases-section__price">
                              2,1 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              5,3 ₽
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_request-price">
                          <h6 class="cases-section__price-headline">
                              Цена заявки
                          </h6>
                          <span class="cases-section__price">
                              200 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              500 ₽
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_requests-count">
                          <h6 class="cases-section__price-headline">
                              Заявок
                          </h6>
                          <span class="cases-section__price">
                              600
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              400
                          </span>
                      </div><!-- cases-section__price-box -->

                      <div class="cases-section__price-box cases-section__price-box_monthly-budget">
                          <h6 class="cases-section__price-headline">
                              Бюджет на месяц
                          </h6>
                          <span class="cases-section__price">
                              720 000 ₽
                          </span>
                          <span class="cases-section__price cases-section__price_old">
                              800 000 ₽
                          </span>
                      </div><!-- /cases-section__price-box -->
                  </div><!-- /cases-section__price-container -->
              </div><!-- /cases-section__content -->
          </div><!-- /cases-section__carousel-item -->
      </div><!-- /cases-section__carousel -->
    </div><!-- /swiper-container js-cases-swiper -->

    <div class="cases-section__pagination"></div>

    <div class="cases-section__nav carousel-nav content-fadein">
        <div class="cases-section__nav-prev carousel-nav__prev"><span>‹</span></div>
        <div class="cases-section__nav-next carousel-nav__next"><span>›</span></div>
    </div>
</div><!-- /cases-section -->
