<div class="comments">
    <div class="comments__header">
        <h2 class="comments__title">
            Комментарии: 4
        </h2>
        <div class="comments__sort">
            <span class="comments__sort-name comments__sort-name_active">
                По рейтингу
            </span>
            <span class="comments__sort-name">
                По порядку
            </span>
        </div>
    </div>
    <div class="comments__body">
        <ul class="comments__list">
            <li class="comments-post">
                <div class="comments-post__container"> 
                    <div class="comments-post__header">
                        <span class="comments-post__avatar">
                            <img src="images/temp/comments-avatar-1.png" alt="">
                        </span>
                        <div class="comments-post__header-content">
                            <span class="comments-post__author tag">
                                Vadim Zhdanov
                            </span>
                            <span class="comments-post__date tag">
                                2 часа назад
                            </span>
                        </div>
                    </div>
                    <div class="comments-post__body">
                        Вот как клиент могу честно
                        сказать, что каждую из этих копеек он заслужил сполна
                    </div>
                    <span class="comments-post__reply">
                        Ответить
                    </span>
                </div><!-- /comments-post__container -->

                <ul class="comments__list comments__list_deep">
                    <li class="comments-post">
                        <div class="comments-post__container">
                            <div class="comments-post__header">
                                <span class="comments-post__avatar comments-post__avatar_deep">
                                    <img src="images/temp/comments-avatar-2.png" alt="">
                                </span>
                                <div class="comments-post__header-content comments-post__header-content_deep">
                                    <span class="comments-post__author-response-label tag">
                                        <span class="comments-post__author tag">
                                            Павел
                                        </span>
                                        <span class="comments-post__publisher-author tag">
                                            &#8592 Vadim Zhdanov
                                        </span>
                                    </span>
                                    <span class="comments-post__date tag">
                                        2 часа назад
                                    </span>
                                </div>
                            </div><!-- /comments-post__header -->
                            <div class="comments-post__body">
                                Вот как клиент могу честно
                                сказать, что каждую из этих копеек он заслужил сполна
                            </div>
                            <span class="comments-post__reply">
                                Ответить
                            </span>
                        </div><!-- /comments-post__container -->
                    </li><!-- /comments-post -->

                    <li class="comments-post">
                        <div class="comments-post__container">
                            <div class="comments-post__header">
                                <span class="comments-post__avatar comments-post__avatar_deep">
                                    <img src="images/temp/comments-avatar-3.png" alt="">
                                </span>
                                <div class="comments-post__header-content comments-post__header-content_deep">
                                    <span class="comments-post__author-response-label tag">
                                        <span class="comments-post__author tag">
                                            Михаил
                                        </span>
                                        <span class="comments-post__publisher-author tag">
                                            &#8592 Vadim Zhdanov
                                        </span>
                                    </span>
                                    <span class="comments-post__date tag">
                                        2 часа назад
                                    </span>
                                </div>
                            </div><!-- /comments-post__header -->
                            <div class="comments-post__body">
                                Вот как клиент могу честно
                                сказать, что каждую из этих копеек он заслужил сполна
                            </div>
                            <span class="comments-post__reply">
                                Ответить
                            </span>
                        </div><!-- /comments-post__container -->
                    </li><!-- /comments-post -->
                </ul><!-- /comments__list_deep -->
            </li><!-- /comments-post -->

            <li class="comments-post">
                <div class="comments-post__container">
                    <div class="comments-post__header">
                        <span class="comments-post__avatar">
                            <img src="images/temp/comments-avatar-4.png" alt="">
                        </span>
                        <div class="comments-post__header-content">
                            <span class="comments-post__author tag">
                                Антон Петров
                            </span>
                            <span class="comments-post__date tag">
                                2 часа назад
                            </span>
                        </div>
                    </div><!-- /comments-post__header -->
                    <div class="comments-post__body">
                        Вот как клиент могу честно
                        сказать, что каждую из этих копеек он заслужил сполна
                    </div>
                    <span class="comments-post__reply">
                        Ответить
                    </span>
                </div><!-- /comments-post__container -->
            </li><!-- /comments-post -->
        </ul><!-- /comments__list -->
    </div><!-- /comments__body -->
    <div class="comments__form-container">
        <div class="comments__textarea-box">
            <textarea name="" id="" class="comments__textarea comments__textarea_bottom">
            </textarea>
        </div>
        <div class="comments__actions-form comments__actions-form_reply">
            <div class="comments__btn-group">
                <button class="button button_transparent comments__button text-gray">
                    Отменить
                </button>
                <button class="button button_lightblue comments__button">
                    Ответить
                </button>
            </div><!-- /comments__btn-group -->
        </div><!-- /comments__actions-form -->
    </div><!-- /comments__form-container -->
</div><!-- /comments -->