<div class="comments comments-popap">
    <div class="comments__form-container">
        <div class="comments__textarea-box">
            <textarea name="" id="" class="comments__textarea comments__textarea_bottom"
                placeholder="Написать ответ ..."></textarea>
        </div>
        <div class="comments__actions-form comments__actions-form_reply">
            <div class="comments__btn-group">
                <button class="button button_transparent comments__button text-gray">
                    Отменить
                </button>
                <button class="button button_lightblue comments__button">
                    Ответить
                </button>
            </div><!-- /comments__btn-group -->
        </div><!-- /comments__actions-form -->
    </div><!-- /comments__form-container -->

    <div class="login-container">
        <div class="login-container__text">
            Войдите, чтобы оставить комментарий
        </div>
        <div class="login-container__socials social">
            <div class="row">
                <a href="#" class="social__box social__box_vk">
                    <svg class="social__icon social__icon_vk">
                        <use xlink:href="#omg-media-svg-vk">
                    </svg>
                </a>

                <a href="#" class="social__box social__box_facebook">
                    <svg class="social__icon social__icon_facebook">
                        <use xlink:href="#omg-media-svg-f">
                    </svg>
                </a>

                <a href="#" class="social__box social__box_inst">
                    <svg class="social__icon social__icon_inst">
                        <use xlink:href="#omg-media-svg-inst">
                    </svg>
                </a>

                <a href="#" class="social__box social__box_yandex-word">
                    <svg class="social__icon social__icon_yandex-word">
                        <use xlink:href="#omg-media-svg-yandex-word">
                    </svg>
                </a>
            </div><!-- /row -->
        </div>
    </div>
</div>