<div class="company-status">
    <h2 class="company-status__title bigger content-fadein">
        <span class="smaller">
            Сертифицированный
        </span>
        Партнёр
    </h2><!-- /company-status__title -->
    <div class="company-status__body content-fadein">
        <div class="company-status__emblem-container">
            <svg class="emblem emblem_yandex">
                <use xlink:href="#omg-media-svg-yandex-direct">
            </svg>
            <svg class="emblem emblem_google">
                <use xlink:href="#omg-media-svg-google-aswords">
            </svg>
        </div><!-- /company-status__emblem-container -->
        <ul class="company-status__list">
            <li class="company-status__list-item">
                <div class="company-status__list-item-data">
                    9.46%
                </div>
                <span class="company-status__list-text">
                    Коэффицент кликабельности на поиске
                </span>
            </li><!-- /company-status__list-item -->

            <li class="company-status__list-item">
                <div class="company-status__list-item-data">
                    95%
                </div>
                <span class="company-status__list-text">
                    Доля клиентов с тематическими площадками
                </span>
            </li><!-- /company-status__list-item -->

            <li class="company-status__list-item">
                <div class="company-status__list-item-data">
                    +113%
                </div>
                <span class="company-status__list-text">
                    Показатель роста компании
                </span>
            </li><!-- /company-status__list-item -->
        </ul><!-- /company-status__list -->
    </div><!-- /company-status__body -->
</div><!-- /company-status -->