<footer class="footer">
    <div class="layout-center">
        <div class="footer__container">
            <div class="footer__content">
                <div class="footer__col footer__col_logo">
                    <div class="logo footer__logo">
                        <a href="#">
                            <svg class="logo__icon">
                                <use xlink:href="#omg-media-svg-logo">
                            </svg>
                            <svg class="logo__icon-blue">
                                <use xlink:href="#omg-media-svg-logo-blue">
                            </svg>
                        </a>
                    </div><!-- /header__logo -->
                </div><!-- /footer__col -->

                <div class="footer__col footer__col_nav">
                    <nav class="nav footer__nav">
                        <ul class="nav__list">
                            <li class="nav__list-item">
                                <a href="contextual-adv.html" class="nav__list-item-link">
                                    Контекстная реклама
                                </a>
                            </li>
                            <li class="nav__list-item">
                                <a href="media-adv.html" class="nav__list-item-link">
                                    Медийная реклама
                                </a>
                            </li>
                            <li class="nav__list-item">
                                <a href="analytics.html" class="nav__list-item-link">
                                    Веб-аналитика
                                </a>
                            </li>
                            <li class="nav__list-item">
                                <a href="marketplace.html" class="nav__list-item-link">
                                    Маркетплейсы
                                </a>
                            </li>
                        </ul>

                        <ul class="nav__list nav__list_media">
                            <li class="nav__list-item">
                                <a href="blog.html" class="nav__list-item-link">
                                    Блог
                                </a>
                            </li>
                            <li class="nav__list-item">
                                <a href="#" class="nav__list-item-link">
                                    YouTube-канал
                                </a>
                            </li>
                        </ul>
                    </nav><!-- /footer__nav -->
                </div><!-- /footer__col -->

                <div class="footer__col">
                    <div class="footer__contact-list">
                        <div class="footer__contact-list-item">
                            <a href="tel: 89295255583" class="js-telephone">
                                <span class="footer__contact">
                                    <span class="footer__svg-box">
                                        <svg class="contact-svg-tel footer__svg">
                                            <use xlink:href="#omg-media-svg-tel">
                                        </svg>
                                    </span>
                                    <span>
                                        8 929 525 55 83
                                    </span>
                                </span>
                            </a>
                        </div>

                        <div class="footer__contact-list-item">
                            <a href="mailto:hello@omgmedia.ru">
                                <span class="footer__contact">
                                    <span class="footer__svg-box">
                                        <svg class="contact-svg-email footer__svg">
                                            <use xlink:href="#omg-media-svg-email">
                                        </svg>
                                    </span>
                                    <span>
                                        hello@omgmedia.ru
                                    </span>
                                </span>
                            </a>
                        </div>

                        <div class="footer__contact-list-item">
                            <span class="footer__contact footer__contact_adress">
                                <span class="footer__svg-box">
                                    <svg class="contact-svg-adress footer__svg">
                                        <use xlink:href="#omg-media-svg-map-marker">
                                    </svg>
                                </span>
                                <span>
                                    Москва, ул. Авиамоторная, д.8, стр 39
                                </span>
                            </span>
                        </div><!-- /footer__contact-list-item -->
                    </div><!-- /footer__contact-list -->
                </div><!-- /footer__col -->
            </div><!-- /footer__content -->
            <div class="copyrights footer__copyrights">
                © OMGMedia.ru
            </div><!-- /footer__copyrights -->
        </div><!-- /footer__container -->
    </div> <!-- /layout-center -->
</footer><!-- /footer -->