<div class="free-service" data-text="Бесплатная">
    <div class="half-number">
        0<span class="smaller">₽<span>
    </div>
    <div class="free-service__inner content-fadein">
        <h2 class="free-service__title bigger">
            <span class="smaller">
                Бесплатная
            </span>
            Консультация
        </h2><!-- /free-service__title -->

        <div class="basic-form free-service__basic-form">
            <div class="basic-form__row-inputs">
                <div class="basic-form__input-box">
                    <input class="basic-form__input basic-form__input_bg-gray" type="text" placeholder="Адрес сайта">
                </div><!-- basic-form__input-box -->

                <div class="basic-form__input-box">
                    <input class="basic-form__input basic-form__input_bg-gray js-phone-mask" type="text" placeholder="Номер телефона">
                </div><!-- basic-form__input-box -->

                <button class="button basic-form__button">
                    Отправить
                </button>
            </div><!-- /basic-form__row-inputs -->

            <div class="basic-form__input-confirm basic-form__input-confirm_responsive-aqua">
                <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" checked="checked">
                    <span class="checkbox__label">
                        Согласие на обработку персональных данных
                    </span>
                </label>
            </div><!-- /basic-form__input-confirm -->
        </div><!-- /basic-form -->
    </div><!-- /free-service__inner -->
</div><!-- /free-service -->