<div class="head-teaser-wrapper">
    <div class="head-teaser box-shadow">
        <div class="head-teaser__hero">
            <div class="image-wrapper">       
                <div class="image">
                    <img src="images/team-person-1.png" alt="">
                </div>
            </div><!-- /image-wrapper -->
        </div><!-- /head-teaser__hero -->
        <div class="head-teaser__content">
            <h2 class="head-teaser__title bigger">
                <span class="smaller">Горячие клиенты</span>
                Для Вашего бизнеса!
            </h2><!-- /head-teaser__title -->
            <buttton class="button head-teaser__button">
                Бесплатная консультация
            </buttton>
        </div><!-- /head-teaser__content -->
    </div><!-- /head-teaser -->
</div><!-- /head-teaser-wrapper -->