<footer class="main-footer">
    <div class="layout-center">
        <div class="main-footer__container">
            <div class="main-footer__content">
                <h2 class="main-footer__title bigger">
                    <span class="smaller">Необходимо</span>
                    Обсудить <br>проект?
                </h2><!-- /main-footer__title -->
                <div class="main-footer__box">
                    <div class="main-footer__contact-list">
                        <div class="main-footer__contact-list-item">
                            <a href="tel: 89295255583" class="js-telephone">
                                <span class="main-footer__contact">
                                    <span class="main-footer__svg-box">
                                        <svg class="contact-svg-tel main-footer__svg">
                                            <use xlink:href="#omg-media-svg-tel">
                                        </svg>
                                    </span>
                                    <span>
                                        8 929 525 55 83
                                    </span>
                                </span>
                            </a>
                        </div><!-- /main-footer__contact-list-item -->

                        <div class="main-footer__contact-list-item">
                            <a href="mailto:hello@omgmedia.ru">
                                <span class="main-footer__contact">
                                    <span class="main-footer__svg-box">
                                        <svg class="contact-svg-email main-footer__svg">
                                            <use xlink:href="#omg-media-svg-email">
                                        </svg>
                                    </span>
                                    <span>
                                        hello@omgmedia.ru
                                    </span>
                                </span>
                            </a>
                        </div><!-- /main-footer__contact-list-item -->

                        <div class="main-footer__contact-list-item">
                            <span class="main-footer__contact">
                                <span class="main-footer__svg-box">
                                    <svg class="contact-svg-adress main-footer__svg">
                                        <use xlink:href="#omg-media-svg-map-marker">
                                    </svg>
                                </span>
                                <span>
                                    Москва, ул. Авиамоторная, д.8, стр 39
                                </span>
                            </span>
                        </div><!-- /main-footer__contact-list-item -->
                    </div><!-- /main-footer__contact-list -->
                    <div class="basic-form main-footer__basic-form">
                        <div class="basic-form__row-inputs">
                            <div class="basic-form__input-box">
                                <input class="basic-form__input js-phone-mask" type="text" placeholder="+7 (999) 555 5555">
                            </div><!-- basic-form__input-box -->
                            <button class="button basic-form__button">
                                Обратный звонок
                            </button>
                        </div><!-- /basic-form__row-inputs -->

                        <div class="basic-form__input-confirm basic-form__input-confirm_aqua">
                            <label class="checkbox checkbox_aqua">
                                <input class="checkbox__input" type="checkbox" checked="checked">
                                <span class="checkbox__label">
                                    Согласие на обработку персональных данных
                                </span>
                            </label>
                        </div><!-- /basic-form__input-confirm -->
                    </div><!-- /basic-form -->
                </div><!-- /main-footer__box -->
            </div><!-- /main-footer__content -->
            <div class="copyrights main-footer__copyrights">
                © OMGMedia.ru
            </div><!-- /main-footer__copyrights -->
        </div><!-- /main-footer__container -->
    </div><!-- /layout-center -->
</footer><!-- /main-footer -->