<div class="metainfo">
    <div class="metainfo__item metainfo__author">
        <img class="metainfo__author-pic" src="images/temp/article-author.png" alt="Александр Деканов">
        <span class="metainfo__author-name meta-bit">
            Александр Деканов
        </span>
    </div><!-- /metainfo__author -->

    <div class="metainfo__item metainfo__category">
        <svg class="metainfo__icon metainfo__icon_category">
            <use xlink:href="#omg-media-svg-category">
        </svg>
        <span class="meta-bit">
            Контекстная реклама
        </span>
    </div><!-- /metainfo__category -->

    <div class="metainfo__item metainfo__date">
        <svg class="metainfo__icon metainfo__icon_date">
            <use xlink:href="#omg-media-svg-date">
        </svg>
        <span class="meta-bit">
            10 марта 2019
        </span>
    </div><!-- /metainfo__date -->
    
    <div class="metainfo__item metainfo__views">
        <svg class="metainfo__icon metainfo__icon_views">
            <use xlink:href="#omg-media-svg-eye">
        </svg>
        <span class="meta-bit">
            52
        </span>
    </div><!-- /metainfo__views -->
    
    <div class="metainfo__item metainfo__comments">
        <svg class="metainfo__icon metainfo__icon_comments">
            <use xlink:href="#omg-media-svg-baseline-chat">
        </svg>
        <span class="meta-bit">
            23
        </span>
    </div><!-- /metainfo__comments -->
</div><!-- /metainfo -->