<div class="partner-section-wrapper">
    <div class="partner-section partner-section_light js-partner-section">
        <div class="partner-section__carousel">
            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-1.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-1.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-2.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-2.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-3.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-3.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-4.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-4.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-5.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-5.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-1.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-1.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-2.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-2.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-3.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-3.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-4.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-4.png" class="partner-section__logo" alt="">
            </div>

            <div class="partner-section__clients">
                <img src="images/temp/logo-clients-mob-5.png" class="clients-gray-pic" alt="">
                <img src="images/temp/logo-clients-5.png" class="partner-section__logo" alt="">
            </div>
        </div><!-- /partner-section__carousel -->
    </div><!-- /partner-section -->

    <div class="partner-section partner-section_mobile partner-section_light js-partner-section">
        <h2 class="partner-section__title bigger">
            <span class="smaller">
                Нам
            </span>
            Доверяют
        </h2>
        <div class="partner-section__carousel">
            <div class="partner-section__carousel-item">
                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-mob-1.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-1.png" class="partner-section__logo" alt="">
                </div>

                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-mob-2.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-2.png" class="partner-section__logo" alt="">
                </div>

                <div class="partner-section__clients">
                  <img src="images/temp/logo-clients-mob-3.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-4.png" class="partner-section__logo" alt="">
                </div>
            </div>

            <div class="partner-section__carousel-item">
                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-mob-1.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-1.png" class="partner-section__logo" alt="">
                </div>

                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-mob-2.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-2.png" class="partner-section__logo" alt="">
                </div>

                <div class="partner-section__clients">
                  <img src="images/temp/logo-clients-mob-3.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-4.png" class="partner-section__logo" alt="">
                </div>
            </div>

            <div class="partner-section__carousel-item">
                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-mob-1.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-1.png" class="partner-section__logo" alt="">
                </div>

                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-mob-2.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-2.png" class="partner-section__logo" alt="">
                </div>

                <div class="partner-section__clients">
                  <img src="images/temp/logo-clients-mob-3.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-4.png" class="partner-section__logo" alt="">
                </div>
            </div>

            <div class="partner-section__carousel-item">
                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-mob-1.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-1.png" class="partner-section__logo" alt="">
                </div>

                <div class="partner-section__clients">
                    <img src="images/temp/logo-clients-mob-2.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-2.png" class="partner-section__logo" alt="">
                </div>

                <div class="partner-section__clients">
                  <img src="images/temp/logo-clients-mob-3.png" class="clients-gray-pic" alt="">
                    <img src="images/temp/logo-clients-4.png" class="partner-section__logo" alt="">
                </div>
            </div>
        </div><!-- /partner-section__carousel -->
    </div><!-- /partner-section -->
</div><!-- /partner-section-wrapper -->
