<div class="platform-cards">
    <div class="platform-card">
        <div class="platform-card__logo">
            <svg class="platform-card__logo-icon platform-card__logo-icon_youtube">
                <use xlink:href="images\svg\symbol\#omg-media-svg-youtube">
            </svg>
        </div>
        <div class="platform-card__content">
            <div class="platform-card__stats">
                44 млн
            </div>
            <p class="platform-card__desc">
                В Youtube 44 млн зрителей из России.
                Это 64% интернет-аудитории страны
            </p>
        </div><!-- /platform-card__content -->
    </div><!-- /platform-card -->

    <div class="platform-card">
        <div class="platform-card__logo">
            <svg class="platform-card__logo-icon platform-card__logo-icon_youtube">
                <use xlink:href="images\svg\symbol\#omg-media-svg-youtube">
            </svg>
        </div>
        <div class="platform-card__content">
            <div class="platform-card__stats">
                100+ млн
            </div>
            <p class="platform-card__desc">
                Сеть Яндекса и Google ― это аудитория
                свыше 100 млн человек
            </p>
        </div><!-- /platform-card__content -->
    </div><!-- /platform-card -->

    <div class="platform-card">
        <div class="platform-card__logo">
            <svg class="platform-card__logo-icon platform-card__logo-icon_youtube">
                <use xlink:href="images\svg\symbol\#omg-media-svg-youtube">
            </svg>
        </div>
        <div class="platform-card__content">
            <div class="platform-card__stats">
                на 40%
            </div>
            <p class="platform-card__desc">
                Повышается доверие покупателей к
                вашему бренду за счет публикаций в известных СМИ
            </p>
        </div><!-- /platform-card__content -->
    </div><!-- /platform-card -->
</div><!-- /platform-cards -->