<div class="promotion-platforms-wrapper">
    <div class="promotion-platforms js-promotion-platforms">
        <h3 class="promotion-platforms__title">
            <span class="smaller">
                С чем
            </span>
            работаем:
        </h3>
        <div class="promotion-platforms__carousel-container">
            <div class="promotion-platforms__carousel">
                <h4 class="promotion-platforms__carousel-item">
                    Яндекс<br>Директ
                </h4>

                <h4 class="promotion-platforms__carousel-item">
                    Google<br>Ads
                </h4>

                <h4 class="promotion-platforms__carousel-item">
                    Яндекс<br>Маркет
                </h4>

                <h4 class="promotion-platforms__carousel-item">
                    Веб-<br>аналитика
                </h4>

                <h4 class="promotion-platforms__carousel-item">
                    Яндекс<br>Директ
                </h4>

                <h4 class="promotion-platforms__carousel-item">
                    Google<br>Ads
                </h4>

                <h4 class="promotion-platforms__carousel-item">
                    Яндекс<br>Маркет
                </h4>

                <h4 class="promotion-platforms__carousel-item">
                    Веб-<br>аналитика
                </h4>
            </div><!-- /promotion-platforms__carousel -->
        </div><!-- /promotion-platforms__carousel-container -->
    </div><!-- /promotion-platforms -->

    <div class="promotion-platforms promotion-platforms_simple">
        <h3 class="promotion-platforms__title bigger">
            <span class="smaller">
                С чем
            </span>
            работаем:
        </h3><!-- /promotion-platforms__title -->
        <div class="promotion-platforms__list">
            <h4 class="promotion-platforms__list-item">
                <a href="#" class="promotion-platforms__list-item-link">
                    Яндекс Директ
                </a>
            </h4><!-- /promotion-platforms__list-item -->

            <h4 class="promotion-platforms__list-item">
                <a href="#" class="promotion-platforms__list-item-link">
                    Google Ads
                </a>
            </h4><!-- /promotion-platforms__list-item -->

            <h4 class="promotion-platforms__list-item">
                <a href="#" class="promotion-platforms__list-item-link">
                    Яндекс Маркет
                </a>
            </h4><!-- /promotion-platforms__list-item -->

            <h4 class="promotion-platforms__list-item">
                <a href="#" class="promotion-platforms__list-item-link">
                    Веб-аналитика
                </a>
            </h4><!-- /promotion-platforms__list-item -->
        </div><!-- /promotion-platforms__list -->
    </div><!-- /promotion-platforms -->
</div><!-- /promotion-platforms-wrapper -->
