<div class="social">
    <a href="#" class="social__box social__box_vk">
        <svg class="social__icon social__icon_vk">
            <use xlink:href="#omg-media-svg-vk">
        </svg>
    </a><!-- /social__box -->

    <a href="#" class="social__box social__box_facebook">
        <svg class="social__icon social__icon_facebook">
            <use xlink:href="#omg-media-svg-f">
        </svg>
    </a><!-- /social__box -->

    <a href="#" class="social__box social__box_youtube">
        <svg class="social__icon social__icon_youtube">
            <use xlink:href="#omg-media-svg-yotube-small">
        </svg>
    </a><!-- /social__box -->

    <a href="#" class="social__box social__box_inst">
        <svg class="social__icon social__icon_inst">
            <use xlink:href="#omg-media-svg-inst">
        </svg>
    </a><!-- /social__box -->

    <a href="#" class="social__box social__box_telegram">
        <svg class="social__icon social__icon_telegram">
            <use xlink:href="#omg-media-svg-telegram">
        </svg>
    </a><!-- /social__box -->

    <a href="#" class="social__box social__box_email">
        <svg class="social__icon social__icon_email">
            <use xlink:href="#omg-media-svg-message-closed">
        </svg>
    </a><!-- /social__box -->
</div><!-- /social -->