<div class="submenu">
    <ul class="submenu__list">
        <li class="submenu__list-item ">
            <a href="#" class="submenu__list-item-link">
                SMM
                <span class="counter">3</span>
            </a>
        </li>
        <li class="submenu__list-item">
            <a href="#" class="submenu__list-item-link submenu__list-item-link_selected">
                Контекстная реклама
                <span class="counter">23</span>
            </a>
        </li>
        <li class="submenu__list-item">
            <a href="#" class="submenu__list-item-link">
                Яндекс Директ
                <span class="counter">13</span>
            </a>
        </li>
        <li class="submenu__list-item">
            <a href="#" class="submenu__list-item-link">
                Google Ads
                <span class="counter">8</span>
            </a>
        </li>
        <li class="submenu__list-item">
            <a href="#" class="submenu__list-item-link">
                Веб-аналитика
                <span class="counter">5</span>
            </a>
        </li>
    </ul>
</div><!-- /submenu -->