<div class="subscribe">
    <h4 class="subscribe__title">
        Подпишитесь на нас
    </h4>
    <h3 class="subscribe__subtitle">
        Вы будете получать свежие
        статьи о рекламе раз в месяц
    </h3>
    <div class="social subscribe__social">
        <div class="row">
            <a href="#" class="social__box social__box_vk">
                <svg class="social__icon social__icon_vk">
                    <use xlink:href="#omg-media-svg-vk">
                </svg>
            </a>

            <a href="#" class="social__box social__box_facebook">
                <svg class="social__icon social__icon_facebook">
                    <use xlink:href="#omg-media-svg-f">
                </svg>
            </a>

            <a href="#" class="social__box social__box_youtube">
                <svg class="social__icon social__icon_youtube">
                    <use xlink:href="#omg-media-svg-yotube-small">
                </svg>
            </a>
        </div>

        <div class="row">
            <a href="#" class="social__box social__box_inst">
                <svg class="social__icon social__icon_inst">
                    <use xlink:href="#omg-media-svg-inst">
                </svg>
            </a>

            <a href="#" class="social__box social__box_telegram">
                <svg class="social__icon social__icon_telegram">
                    <use xlink:href="#omg-media-svg-telegram">
                </svg>
            </a>

            <a href="#" class="social__box social__box_email">
                <svg class="social__icon social__icon_email">
                    <use xlink:href="#omg-media-svg-message-closed">
                </svg>
            </a>
        </div><!-- /row -->
    </div><!-- /social -->
</div><!-- /subscribe -->