<div class="team-section js-team-section" data-text="Команда">
    <div class="team-section__headline">
        <h2 class="team-section__title bigger content-fadein">
            <span class="smaller">
                Наша
            </span>
            Команда
        </h2>
        <div class="team-section__counter items-counter">
            <span class="items-counter__current"></span>
            <span class="items-counter__total"></span>
        </div>
    </div>

    <div class="team-section__carousel content-fadein">
        <div class="team-section__carousel-item">
            <div class="team-section__hero-card">
                <div class="team-section__hero-image">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="images/team-person-1.png" alt="">
                        </div>
                    </div>
                </div><!-- /team-section__hero-image -->
                <div class="team-section__hero-info">
                    <h4 class="team-section__hero-name">
                        Алексанр Деканов
                    </h4><!-- /team-section__hero-name -->
                    <div class="team-section__hero-about">
                        Сертифицированный специалист
                        Яндекс.Директ, Google AdWords
                    </div><!-- /team-section__hero-about -->
                    <div class="team-section__hero-achievements">
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-blue" />
                        </svg>
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-red" />
                        </svg>
                    </div><!-- /team-section__hero-achievements -->
                </div><!-- /team-section__hero-info -->
            </div><!-- /team-section__hero-card -->
        </div><!-- /team-section__carousel-item -->

        <div class="team-section__carousel-item">
            <div class="team-section__hero-card">
                <div class="team-section__hero-image">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="images/team-person-2.png" alt="">
                        </div>
                    </div>
                </div><!-- /team-section__hero-image -->
                <div class="team-section__hero-info">
                    <h4 class="team-section__hero-name">
                        Имя Фамилия
                    </h4><!-- /team-section__hero-name -->
                    <div class="team-section__hero-about">
                        Сертифицированный специалист
                        Яндекс.Директ, Google AdWords
                    </div><!-- /team-section__hero-about -->
                    <div class="team-section__hero-achievements">
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-blue" />
                        </svg>
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-red" />
                        </svg>
                    </div><!-- /team-section__hero-achievements -->
                </div><!-- /team-section__hero-info -->
            </div><!-- /team-section__hero-card -->
        </div><!-- /team-section__carousel-item -->

        <div class="team-section__carousel-item">
            <div class="team-section__hero-card">
                <div class="team-section__hero-image">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="images/team-person-3.png" alt="">
                        </div>
                    </div>
                </div><!-- /team-section__hero-image -->
                <div class="team-section__hero-info">
                    <h4 class="team-section__hero-name">
                        Имя Фамилия
                    </h4><!-- /team-section__hero-name -->
                    <div class="team-section__hero-about">
                        Сертифицированный специалист
                        Яндекс.Директ, Google AdWords
                    </div><!-- /team-section__hero-about -->
                    <div class="team-section__hero-achievements">
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-blue" />
                        </svg>
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-red" />
                        </svg>
                    </div><!-- /team-section__hero-achievements -->
                </div><!-- /team-section__hero-info -->
            </div><!-- /team-section__hero-card -->
        </div><!-- /team-section__carousel-item -->

        <div class="team-section__carousel-item">
            <div class="team-section__hero-card">
                <div class="team-section__hero-image">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="images/team-person-4.png" alt="">
                        </div>
                    </div>
                </div><!-- /team-section__hero-image -->
                <div class="team-section__hero-info">
                    <h4 class="team-section__hero-name">
                        Имя Фамилия
                    </h4><!-- /team-section__hero-name -->
                    <div class="team-section__hero-about">
                        Сертифицированный специалист
                        Яндекс.Директ, Google AdWords
                    </div><!-- /team-section__hero-about -->
                    <div class="team-section__hero-achievements">
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-blue" />
                        </svg>
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-red" />
                        </svg>
                    </div><!-- /team-section__hero-achievements -->
                </div><!-- /team-section__hero-info -->
            </div><!-- /team-section__hero-card -->
        </div><!-- /team-section__carousel-item -->

        <div class="team-section__carousel-item">
            <div class="team-section__hero-card">
                <div class="team-section__hero-image">
                    <div class="image-wrapper">
                        <div class="image">
                            <img src="images/team-person-5.png" alt="">
                        </div>
                    </div>
                </div><!-- /team-section__hero-image -->
                <div class="team-section__hero-info">
                    <h4 class="team-section__hero-name">
                        Имя Фамилия
                    </h4><!-- /team-section__hero-name -->
                    <div class="team-section__hero-about">
                        Сертифицированный специалист
                        Яндекс.Директ, Google AdWords
                    </div><!-- /team-section__hero-about -->
                    <div class="team-section__hero-achievements">
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-blue" />
                        </svg>
                        <svg class="google-partner-icon">
                            <use xlink:href="#omg-media-svg-google-partner-red" />
                        </svg>
                    </div><!-- /team-section__hero-achievements -->
                </div><!-- /team-section__hero-info -->
            </div><!-- /team-section__hero-card -->
        </div><!-- /team-section__carousel-item -->
    </div><!-- /team-section__carousel -->
</div><!-- /team-section -->
