<div class="youtube-section js-youtube-section">
    <h2 class="youtube-section__title bigger">
        <span class="smaller">
            Ведём обучающий
        </span>
        YouTube-канал
    </h2><!-- /youtube-section__title -->

    <h2 class="youtube-section__title-mobile bigger">
        <span class="smaller">
            Ведём канал на
        </span>
        YouTube
    </h2><!-- /youtube-section__title -->

    <div class="youtube-section__carousel-wrapper">
        <div class="youtube-section__carousel swiper-container js-youtube-swiper">
            <div class="swiper-wrapper">
                <div class="youtube-section__carousel-item swiper-slide">
                    <div class="youtube-section__card swiper-slide">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <a data-fancybox
                                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                    <img src="images/Rectangle 5.3.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                Преступления и наказания:
                                всё о санкциях Google
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->

                    <div class="youtube-section__card swiper-slide youtube-section__card_lower">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <a data-fancybox
                                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">                     
                                    <img src="images/Rectangle 5.4.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                Синдром Сноудена: как много
                                о вас знают рекламщики?
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->

                    <div class="youtube-section__card swiper-slide youtube-section__card_upper">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <a data-fancybox
                                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">                     
                                    <img src="images/Rectangle 5.5.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                15 сервисов для отложенного
                                постинга в соцсетях
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->
                </div><!-- /youtube-section__carousel-item -->

                <div class="youtube-section__carousel-item swiper-slide">
                    <div class="youtube-section__card swiper-slide">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <a data-fancybox
                                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">                     
                                    <img src="images/Rectangle 5.5.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                15 сервисов для отложенного
                                 в соцсетях 2
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->

                    <div class="youtube-section__card swiper-slide youtube-section__card_lower">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <a data-fancybox
                                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">                     
                                    <img src="images/Rectangle 5.3.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                Преступления и наказания:
                                всё о санкциях Google
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->

                    <div class="youtube-section__card swiper-slide youtube-section__card_upper">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <a data-fancybox
                                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">                     
                                    <img src="images/Rectangle 5.4.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                Синдром Сноудена: как много
                                о вас знают рекламщики? 2
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->
                </div><!-- /youtube-section__carousel-item -->

                <div class="youtube-section__carousel-item swiper-slide">
                    <div class="youtube-section__card swiper-slide">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <a data-fancybox
                                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">                     
                                    <img src="images/Rectangle 5.3.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                Преступления и наказания:
                                всё о санкциях Google
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->

                    <div class="youtube-section__card swiper-slide youtube-section__card_lower">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <a data-fancybox
                                    href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">                     
                                    <img src="images/Rectangle 5.4.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                Синдром Сноудена: как много
                                о вас знают рекламщики?
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->

                    <div class="youtube-section__card swiper-slide youtube-section__card_upper">
                        <div class="video-wrapper youtube-section__card-video">
                            <div class="video video-play">
                                <img src="images/Rectangle 5.5.png" alt="">
                            </div>
                        </div>
                        <div class="youtube-section__card-content">
                            <h4 class="youtube-section__card-title">
                                15 сервисов для отложенного
                                постинга в соцсетях
                            </h4>
                            <span class="youtube-section__card-time">
                                32:12
                            </span>
                        </div><!-- /youtube-section__card-content -->

                        <div class="youtube-carousel-nav">
                           <span class="youtube-carousel-nav__prev"></span>
                           <span class="youtube-carousel-nav__next"></span>
                        </div>
                    </div><!-- /youtube-section__card -->
                </div><!-- /youtube-section__carousel-item -->                
            </div><!-- /youtube-section__carousel -->
        </div>

      <div class="youtube-section__pagination"></div>
    </div>

</div><!-- /youtube-section -->
