.basic-form {
    &__row-inputs {
        display: flex;
        margin-bottom: 20px;

        @include respond(md) {
            flex-direction: column;
            margin-bottom: 0px;
        }
    }
    
    &__input-box {
        position: relative;

        &:not(:first-child):before {
            content: "";
            position: absolute;
            left: 0; top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 32px;
            background-color: $dark-blue;
            opacity: 0.2;

            @include respond(md) {
                display: none;
            }
        }

        @include respond(md) {
            margin-bottom: 16px;
        }
    }

    &__button {
        @include respond(md) {
            margin-bottom: 16px;
        }
    }

    &__input {
        height: 64px;
        width: auto;
        border: none;
        padding: 20px 16px;
        color: $text;

        &_bg-gray {
            background-color: $fade;
        }

        @include respond(md) {
           width: 100%;
        }
    }

    &__button {
        @include respond(md) {
            width: 100%;
         }
    }
    
    &__input-confirm {
        color: $light-blue;
        user-select: none;

        &_responsive-aqua {
            @include respond(sm) {
                color: $aqua;
            }
        }
        
        &_aqua {
            color: $aqua;
        }
    }

    .checkbox {
        display: inline-flex;

        
        &__label {
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding-left: 30px;
            
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                display: inline-block;
                transform: translateY(10%);
            }
    
            &:before {
                width: 18px;
                height: 18px;
                left: 0;
                border: 2px solid $light-blue;
                border-radius: 2px;
            }
    
            &:after {
                width: 12px;
                height: 9px;
                left: 3px;
                transform: translateY(calc(10% + 6px));
                background-image: url(../images/svg/omg-media-svg-сheck-mark.svg);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                opacity: 0;
                transition-duration: 0.2s;
            }
        }
        
        &__input {
            display: none;
            
            &:checked + .checkbox__label:after {
                opacity: 1;
            }
        }

        &_aqua {
            .checkbox__label {
                &:before {
                    border: 2px solid $aqua;
                }

                &:after {
                    background-image: url(../images/svg/omg-media-svg-сheck-mark-aqua.svg);
                }
            }
        }
    }




    &__hide {
        display: none;
    }

    &__active {
         display: block !important;

        &__input {
            width: 100%;
        }
    }



}