.comments {
    margin-bottom: 50px;
    
    @include respond(xs) {
        margin-right: -24px;
        margin-left: -24px;
        padding-right: 16px;
        padding-left: 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 0;

        @include respond(xs) {
            font-size: 2rem;
        }
    }

    &__sort {
        white-space: nowrap;
    }

    &__sort-name {
        font-size: 14px;
        color: $light-blue;
        margin-left: 22px;
        cursor: pointer;

        &_active {
            color: $text;
        }
    }

    &__textarea-box {}

    &__textarea {
        width: 100%;
        background-color: $fade;
        border: none;
        resize: none;
        padding: 20px;
        text-align: left;

        &_top {
            height: 64px;
        }

        &_bottom {
            height: 140px;
        }
    }

    &__actions-form {
        &_reply {}
    }
    
    &__btn-group {
        display: flex;
        justify-content: flex-end;
        padding: 16px;
        background-color: $fade;
    }
    
    &__body {
        margin-bottom: 40px;
    }
    
    &__list {
        &_deep {
            padding: 30px 0px 1px 50px;
            margin-top: 5px;
            margin-bottom: 16px;
            border-left: 1px dashed #D3D4D8;

            .comments-post {
                margin-bottom: 35px;
            }

            .comments-post__avatar {
                width: 25px;
                height: 24px;
            }

            .comments-post__header-content {
                .tag {
                    display: inline-block;
                }
            }
        }
    }

    &__button {
        font-size: 16px;
        font-weight: 500;
        padding: 11px 26px;
    }
}

.comments-post {
    font-size: 16px;

    @include respond(sm) {
        font-size: 20px;
    }

    &__container {}
    
    &__header {
        display: flex;
        margin-bottom: 17px;
    }
    
    &__avatar {
        width: 42px;
        height: 40px;
        display: inline-block;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__header-content {
        color: $secondary;
        font-size: 14px;

        .tag {
            display: block;
        }
    }
    
    &__author-response-label {
        margin-right: 12px;
    }

    &__author {
        font-size: 16px;
        font-weight: 500;
        color: $text;
    }

    &__publisher-author {}
    
    &__date {}
    
    &__body {
        margin-bottom: 2px;
    }
    
    &__reply {
        color: $secondary;
        font-size: 14px;
        cursor: pointer;

        @include respond(sm) {
            font-size: 20px;
        }
    }
}
