.comments {

    margin-bottom: 50px;
    
    @include respond(xs) {
        margin-right: -24px;
        margin-left: -24px;
        padding-right: 16px;
        padding-left: 16px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;

        @include respond(sm) {

            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 0;

        @include respond(sm) {
            margin-bottom: 16px;
        }

        @include respond(xs) {
            font-size: 2rem;
        }
    }

    &__sort {
        white-space: nowrap;
    }

    &__sort-name {
        font-size: 14px;
        color: $light-blue;        
        cursor: pointer;
            
        &:last-child {
            margin-left: 22px;
        }

        &_active {
            color: $text;
        }

        @include respond(sm) {
            font-size: 20px;
        }
    }

    &__textarea-box {}

    &__textarea {
        width: 100%;
        font-size: 18px;
        background-color: $fade;
        border: none;
        resize: none;
        padding: 20px;
        text-align: left;

        &_top {
            height: 64px;
        }

        &_bottom {
            height: 140px;
        }

        &::placeholder {
            color: $text;
            font-size: 18px;
        }
    }

    &__actions-form {
        &_reply {}
    }
    
    &__btn-group {
        display: flex;
        justify-content: flex-end;
        padding: 16px;
        background-color: $fade;
    }
    
    &__body {
        margin-bottom: 40px;
    }
    
    &__list {
        &_deep {
            padding: 30px 0px 1px 50px;
            margin-top: 5px;
            border-left: 1px dashed #D3D4D8;

            .comments-post__avatar {
                width: 25px;
                height: 24px;
            }

            .comments-post__header-content {
                .tag {
                    display: inline-block;
                }

                .comments-post__date {
                    margin-left: 10px;

                    @include respond(xs) {
                        display: block;
                        margin-left: 0;
                    }
                }
            }

            .comments-post__header {
                margin-bottom: 1px;

                @include respond(sm) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__button {
        font-size: 16px;
        font-weight: 500;
        padding: 11px 26px;
    }
}

.comments-post {
    font-size: 16px;
    margin-bottom: 35px;

    @include respond(xl) {
        margin-bottom: 25px;
    }

    @include respond(sm) {
        font-size: 20px;
    }

    &__container {
        display: flex;
        align-items: flex-start;

    }
    
    &__box {
        margin-right: 40px;

        @include respond(xs) {
            margin-right: 20px;
        }
    }
    
    &__header {
        display: flex;
        margin-bottom: 17px;

        @include respond(xl) {
            margin-bottom: 1px;
        }

        @include respond(sm) {
            margin-bottom: 15px;
        }
    }
    
    &__avatar {
        width: 42px;
        height: 40px;
        display: inline-block;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__header-content {
        color: $secondary;
        font-size: 14px;

        .tag {
            display: block;
        }
    }
    
    &__author-response-label {
    }

    &__author {
        font-size: 16px;
        font-weight: 500;
        color: $text;
    }

    &__publisher-author {
        @include respond(xl) {
            display: none;
        }
    }
    
    &__date {
    }
    
    &__body {
        margin-bottom: 2px;

        @include respond(sm) {
            margin-bottom: 8px;
        }
    }
    
    &__reply,
    &__delete {
        color: $light-blue;
        font-size: 14px;
        cursor: pointer;

        @include respond(sm) {
            font-size: 20px;
        }
    }

    &__self {
        .comments-post__delete {
            display: block;
        }

        .rating-counter__increase-value, 
        .rating-counter__deacrease-value {
            cursor: default;
        }
        
        .rating-counter__suffix-svg {
            fill: $disabled;
        }

        .rating-counter__highlighted {
            &:hover {
                color: $text;
                svg {
                    transition: all 0.15s ease-in;
                    fill: $disabled;
                }
            }
        }
    }
}

.rating-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    &__increase-value,
    &__deacrease-value {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        transition: all 0.15s ease-in;
    }

    &__deacrease-value {
        transform: rotate(180deg);
    }
    
    &__suffix-svg {
        width: 12px;
        height: 8px;
        fill: $icon;
    }

    &__number {
        display: block;
        font-size: 14px;
        line-height: 1;
    }

    &__highlighted {
        &:hover {
            color: $light-blue;
            svg {
                transition: all 0.15s ease-in;
                fill: $light-blue;
            }
        }
    }
}
