.platform-cards {
    display: flex;
    justify-content: space-between;
    
    @include respond(md) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.platform-card {
    flex-basis: calc(33.333% - 20px);
    text-align: center;
    background-color: #ffffff;
    padding: 0 32px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
        margin-right: 20px;

        @include respond(md) {
            margin-right: 0px;
        }
    }

    @include respond(md) {
        text-align: left;
        margin-bottom: 16px;
    }

    @include respond(xs) {
        padding: 0 24px;
    }

    &__logo {
        height: 214px;
        padding-top: 112px;
        
        @include respond(md) {
            height: auto;
            padding-top: 40px;
        }

        @include respond(xs) {
            padding-top: 24px;
        }

    }

    &__logo-icon { 
        height: 55px;

        &_yandexmarket {
            width: 240px;
            height: 50px;
        }

        &_google {
            width: 174px;
            height: 53px;
        }

        &_beru {
            width: 155px;
            height: 53px;
        }

        &_youtube {
            width: 84px;
            height: 56px;
        }

        &_yandex {
            width: 192px;
            height: 47px;
        }

        &_rbk {
            width: 202px;
            height: 62px;
        }
    }

    &__content {}
    
    &__stats {
        font-size: 40px;
        font-weight: 500;
        color: $dark-blue;
        margin-bottom: 16px;

        @include respond(md) {
            margin-bottom: 0px;
        }
    }
    
    &__desc {
        font-size: 20px;
        color: $dark;
        margin-bottom: 70px;

        @include respond(md) {
            margin-bottom: 40px;
        }

        @include respond(xs) {
            font-size: 16px;
            margin-bottom: 24px;
        }
    }
}