$body: #E5E5E5;
$dark-blue: #292A6B;
$light-blue: #348AD9;
$text: #505565;
$icon: #D3D4D8;
$button: #E54745;
$secondary: #8B90A0;
$fade: #F0F1F3;
$dark: #080B1A;
$aqua: #B0D9FF;
$white: #FFFFFF;
$gray: #f2f6fa;
$silver: #cbccdf;

$layout-center-padding: 120px;
$layout-center-padding-lg: 60px;
$layout-center-padding-md: 40px;
$layout-center-padding-sm: 30px;
$layout-center-padding-xs: 24px;
$layout-center-padding-us: 16px;

$carousel-control-size: 72px;
